body {
  font-size: 30px;
  height: 100vh;
  width: 100vw;
  background: url(https://i.pinimg.com/originals/90/58/a5/9058a5ec013afe7563cb32b507a5d586.jpg);
  background-size: cover;
  background-position: center;
}

nav {
  background: rgba(0, 0, 0, 0.2);
}

.nav-link {
  font-size: 25px;
  text-decoration: underline;
}

.navbar-brand {
  color: rgba(255, 255, 255, 0.5) !important;
  font-size: 40px;
}
